.thumb{
width:80%;
height:80%;
}
.button{
  text-align: center;
  font-size: 20px;
}

.col-sm-3{
  margin-left: 3%;
  margin-right: -3%;
  float: none;
    font-size: 24px;
}

h2{
  text-align: center;
}
li{
  font-size: 24px;
}
.row{
  display: flex;
     align-items: center;
}
.results{
  text-align: center;
  display: none;
}
ul{
  list-style: none;
  padding-left: 0;
}
